*{
    margin: 0;
}
div{
    background-color: antiquewhite;
    border: 2px solid tomato;
    border-radius: 5px;
    box-shadow: 10px 10px 10px yellow;
    margin: 20px;
    padding: 20px;
}
h3{
    text-align: center;
    color: blueviolet;
}